@import "./components/searchbar.css";
@import "./components/tags.css";
@import "./components/flat-card.css";

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;800&display=swap");

body {
  margin: 20px 40px 0px 40px;
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
}
/* HEADER */
header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

header img {
  width: 30%;
}

nav {
  margin: 20px 60px;
  display: flex;
}

nav h5 {
  position: relative;
  margin: 0px 20px;
  font-size: 1em;
  cursor: pointer;
}
nav h5:first-child {
  color: blue;
}
.subscribe {
  position: absolute;
  top: 13px;
  right: 10px;
  font-size: 1em;
  color: blue;
}
nav h5:first-child::before {
  position: absolute;
  content: "";
  transform: translate(-50%, -50%);
  top: -35px;
  left: 50%;
  width: 170%;
  height: 1px;
  background-color: blue;
}
nav h5:last-child {
  color: blue;
  margin-right: 20px;
}

.filter-section p,
h3 {
  margin: 0px;
}

.info-city {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.info-city i {
  background-color: #0065fc;
  color: white;
  font-size: 1.5em;
  border-radius: 50%;
  margin-right: 20px;
}
.info-city p {
  color: gray;
  margin: 0;
}

/* 1st part card */
.part-1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.left-part-1 {
  width: 60%;
  background-color: #f2f2f2;
  padding: 25px;
  border-radius: 16px;
}
.left-part-1 h3 {
  margin: 20px 0px;
}

.flat-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.right-part-1 {
  width: 30%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 16px;
}
.right-part-1 h3 {
  margin: 20px 10px;
}
.right-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right-header i {
  font-size: 1.5em;
}
/* 2nd part cards */
.part-2 {
  margin-top: 50px;
}
.part-2 h3 {
  margin: 20px 0px;
}
.activity-cards {
  height: 70vh;
  width: 100%;
  display: flex;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-gap: 25px;
}

.activity-column {
  display: flex;
  flex-direction: column;
}

.column-activity {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  position: relative;
  display: flex;
  justify-content: center;
  margin-left: -40px;
  margin-top: 70px;
  padding: 20px;
  width: 100vw;
  background-color: #f2f2f2;
}
.footer-1 {
  margin-left: 0px;
}

footer div {
  margin-right: 20%;
}

@media screen and (max-width: 600px) {
  body {
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
  }
  header {
    margin: 10px 20px 0px 20px;
    display: block;
  }
  .subscribe {
    top: 0px;
    right: 0px;
  }

  nav {
    justify-content: space-around;
    margin: 30px 0px;
    font-weight: 100;
  }
  nav h5:first-child::before {
    bottom: 0px;
    width: 250%;
    left: 0;
    top: 150%;
    height: 3px;
  }
  nav h5:last-child {
    color: gray;
  }

  .filter-section {
    /* margin-top: 70px; */
    width: 100%;
    font-size: 1.2em;
    font-weight: 600;
    margin: 60px 20px 0px 20px;

  }
  .filter-section h3 {
    width: 80%;
    margin-bottom: 10px;
  }
  .part-1 {
    flex-direction: column-reverse;
  }
  .right-part-1 {
    width: 100%;
    padding: 10px 30px;
    border-radius: 0px;
    /* margin: 0px 0px 0px -20px; */
  }
  .left-part-1 {
    width: 100%;
    background-color: #fff;
  }
  .flat-grid {
    flex-direction: column;
  }
  .flat-card {
    width: 100%;
    box-shadow: 0px 0px 3px lightgray;
  }
  .part-2{
    width: 116vw;
  }
  .activity-cards {
    width: 90%;
    margin: auto;
    flex-direction: column;
    height: auto;
  }
  .activity-cards:only-child{
    margin-bottom: 30px;
  }
  .column-activity .activity-card:first-child{
    margin-bottom: 20px;
  }
  footer{
    flex-direction: column;
    width: 110%;
    margin: 50px 0 0 0;
    font-size: 1.3em;
  }
  .footer-1{
    margin-left: 10px;
  }
    .footer-2{
    margin-left: 10px;
  }
    .footer-3{
    margin-left: 10px;
  }
}
