.flat-card {
  width: 30%;
  height: 220px;
  padding: 5px;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 30px;
}

.flat-card img {
  width: 100%;
  height: 60%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  object-fit: cover;
}
.flat-card h4 {
  margin: 5px;
}
.flat-card p {
  margin: 5px;
}
.flat-card i {
  color: blue;
}

/* popular cards */

.popular-card {
  width: 90%;
  height: 120px;
  border-radius: 16px;
  margin: 15px auto;
  padding: 5px;
  background-color: #fff;
  display: flex;
}

.popular-card:first-child {
  margin-top: 30px;
}

.popular-card img {
  width: 30%;
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
  object-fit: cover;
}
.popular-card h4 {
  margin: 0;
}
.popular-card p {
  margin: 0;
  margin-bottom: 30px;
}
.popular-card-description {
  position: relative;
  height: 80%;
  display: flex;
  flex-direction: column;
  margin: 15px;
}
.popular-card .rating {
  position: absolute;
  bottom: 0px;
  /* margin-top: 10%; */
}
.popular-card i {
  color: blue;
}

/* activity cards */

.activity-card {
  /* width: 15%; */
  height: 100%;
  border: none;
  box-shadow: 0px 0px 5px gray;
  border-radius: 10px;
}
.activity-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 85%;
  object-fit: cover;
}

.activity-card h4 {
  margin: 0;
  margin-left: 15px;
}

#fort-activity{
  height: 50%;
}

#frioul-activity{
  height: 40%;
}

#notre-dame-activity{
  height: 40%;
}
#parc-activity{
  height: 50%;
}

@media screen and (max-width: 600px) {
  .activity-card {
    height: 200px !important;
  }
  .activity-card img {
    height: 80%;
  }
}
