/* SEARCH BAR  */

.searchbar {
  display: flex;
  align-items: center;
  margin-top: 20px;
  /* padding: 10px; */
}

.searchbar input {
  height: 32px;
  border: 1px solid #f1f1f1;
  padding: 5px;
  font-weight: bold;
  color: black;
  /* height: 100%; */
}

.searchbar i {
  background-color: #f1f1f1;
  padding: 15px 25px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}

.buttonsearch {
  cursor: pointer;
  background-color: #0065fc;
  padding: 13px 20px;
  font-weight: 500;
  color: white;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

@media screen and (max-width: 600px) {
  .searchbar {
    margin: 20px 10px;
  }
  .searchbar input {
    color: black;
    width: 70%;
  }
  
  .buttonsearch {
    width: 50px;
    padding: 13px 0px;
    border-radius: 12px;
    color: transparent;
    background-image: url(../images/search-12-32.png);
    background-clip: padding-box;
    /* background-size: cover; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
  }
}
